dotenv_if_exists .env
dotenv_if_exists .env.local

export PROJECT_ROOT="$PWD"
export DATA_DIR="${DATA_DIR:-$PROJECT_ROOT/data}"
export IAC_DIR="${IAC_DIR:-$PROJECT_ROOT/iac}"
export DBT_PROFILES_DIR="${DBT_PROFILES_DIR:-$PROJECT_ROOT/analytics}"
export AIRFLOW_UID="${AIRFLOW_UID:-$(id -u)}"
