project_id                     = "your-gcp-project-id"
region                         = "europe-west2"
bucket_name                    = "your-unique-gcs-bucket-name"
bigquery_dataset_id            = "instacart_warehouse_dev"
bigquery_dataset_friendly_name = "instacart-warehouse"
bigquery_dataset_description   = "Instacart analytics warehouse dataset"
bigquery_location              = "europe-west2"
